/* styles.css */

body {
  background-color: #f6e6a5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff5d9;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo h1 {
  font-size: 1.5em;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 15px;
  font-size: 1.2em;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #655a3f;
}

.section {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
}

h1, h2, h3 {
  font-family: '华文行楷', cursive;
  margin-bottom: 10px;
}

.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-image {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 5px 0;
  font-size: 1.2em;
}
